{% extends "layout.html" %}

{% block title %}
    Threads
{% endblock %}

{% block main %}
    <!--Header-->
    <header class="mb-1">
        <h2> Community Guidlines </h2>

    </header>
    <hr>
    <!--List of rules-->
    <div >
       <p></p>
       <p></p>
       <p></p>
       <p></p>
       <p></p>
       <p></p>
    </div>
    <ol class = 'scrollmenu w-50' style = "text-align: left; margin: auto;">
        <p>To keep the site under control, we need to implement some rules!</p>
        <li>No false reporting. Users who submit too many or false reports may have their accounts terminated.</li>
        <li>No spamming. This applies to threads and posts..</li>
        <li>Don't share private information. This website allows information to spread fast between users.</li>
        <li>Refrain pretending to be a moderator. The title next to a user dispays if they are an admit or not.</li>
        <li>Nothing else!! After all, this place is Havoc!!!</li>
    </ol>
{% endblock %}
