{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <header class="mb-1">
            <!--Header-->
            <h2>Create an Account</h2>
            <div style="height: 60px;"></div>
        </header>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter Username</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter Email</label>
            <input class="form-control mx-auto w-auto" name="email" placeholder="name@example.com" type="email">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter Password</label>
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Rewrite Password" type="password">
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
        <footer class="mb-5">
            <div style="height: 60px;"></div>
            Already have an account? <a style ='display:inline-block' href="/signin">Sign in</a>
        </footer>
    </form>
{% endblock %}
